#closeicon {
    float: right;
    margin-top: -7x;
    margin-left: 5px;
    width: 5px;
    height: 5px;
    font-size: 10px;
}

#linehorizontal {
    margin: 10px 20px 0px 10px;
    height: 1.3px;
    width: 100%;
    background-color: rgb(130, 130, 191);
}

.input-field input {
    border: 1px solid black;
}